html(lang='fr')
head
  title Pourquoi cest si moch ?

body
  
    h1 Ajout d'une nouvelle photo

    form(action="/formData" method="post")
      p
        label Nom:
          br
          input(name="name")
      p
        label Url:
          br
          input(name="url")
      p
        label Description:
          br
          input(name="desc")
      input(type='hidden', name='cmd', value='add')
      input(type='hidden', name='idPic', value='not')
      button(type="submit") Enregistrer

    a(href='/') Retour au menu
    
