//extends layout
//Fichier de test sur les fonctionnalité pug, a voir le résultat html une fois le server démarrer (npm start)
//lié a app.js
doctype html
html(lang='fr')
head
  title Pourquoi cest si moch ?
  
body

  h1 Liens vers l'ajout d'image + affichage de la gallerie
  p
    a(href='/img/add') Ajout d'image
  
  h2 #{title}
  
  div
    each picture,nb in pictures
      a(href='/img/show/'+picture._id)
        img(src=picture.url, alt=picture.name)
      p(class='description')= picture.desc
  
