html(lang='fr')
head
  title Pourquoi cest si moch ?

body
  
    h1 Affichage de l'image cliquée en taille réelle + modification et suppression
    
    img(src=picture.url, alt=picture.name)
    
    p
      a(href='/img/update/'+picture._id) Modifier
    p
      a(href='/img/delete/'+picture._id) Supprimer
    p
      a(href='/') Retour au menu
    
