html(lang='fr')
  head
    title Pourquoi cest si moch ?
    
  body
    
    h1 Welcome BITCHHH to the modification of existing pictures for our marvelous gallery
    
      form(action="/formData" method="post")
        p
          label Nom:
            br
            input(name="name", value=picture.name)
        p
          label Description:
            br
            input(name="desc", value=picture.desc)
            
        input(type='hidden', name='cmd', value='update')
        input(type='hidden', name='idPic', value=picture._id)
        input(type='hidden', name='url', value=picture.url)        
        button(type="submit") Enregistrer

      p
        a(href='/') Retour au menu
      
